<ion-popover-view class="fit">
        <ion-content scroll="false">
          <div class="list">
            <a class="item" href="http://learn.ionicframework.com/" target="_blank">
              View Doctor
            </a>
            <a class="item" href="http://ionicframework.com/docs/" target="_blank">
              View Report
            </a>
            <a class="item" href="http://showcase.ionicframework.com/" target="_blank">
              Reset Password
            </a>
            <a class="item" href="http://showcase.ionicframework.com/" target="_blank">
              Logout
            </a>
          </div>
        </ion-content>
</ion-popover-view>