<ion-view id="page1">
    <div class="bar bar-header" ng-controller="popoverCtrl">
      <h1 class="title">Registration</h1>
      <div class="buttons">
        <button class="button button-icon ion-more" ng-click="popover.show($event)">
        </button>
      </div>
  </div>
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/C2zKfF2gQKmsAiyPDczs_andersonlogo.png" style="display: block; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="registration-form1" class="list">
      <label>
        <span class="label">USER ID</span>
      </label>
      <label class="item item-input" id="registration-input2">
        <input type="text" placeholder="Mobile Number">
      </label>
      <label class="item item-input">
        <span class="label">OTP</span>
      </label>
      <label class="item item-input" id="registration-input3">
        <input type="text" placeholder="OTP">
      </label>
    </form>
    <p>
      <a href="#">Generate OTP</a>
      <a href="#">Resend OTP</a>
    </p>
    <button id="registration-button1" class="button button-balanced button-small">Next</button>
  </ion-content>
</ion-view>